USE [master]
GO
/****** Object:  Database [BanQuanAo2]    Script Date: 04/01/2019 9:31:40 CH ******/
CREATE DATABASE [BanQuanAo2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanQuanAo2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BanQuanAo2.mdf' , SIZE = 14336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BanQuanAo2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BanQuanAo2_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanQuanAo2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanQuanAo2]
GO
/****** Object:  Table [dbo].[tblChiTiet]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTiet](
	[maChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maDonHang] [int] NULL,
	[maSanPham] [int] NULL,
	[soLuong] [int] NULL,
	[thanhTien] [int] NULL,
 CONSTRAINT [PK_tblChiTiet] PRIMARY KEY CLUSTERED 
(
	[maChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDanhGia]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhGia](
	[maDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[maSanPham] [int] NULL,
	[maKhachHang] [int] NULL,
	[diemDanhGia] [int] NULL,
	[binhLuan] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblDanhGia] PRIMARY KEY CLUSTERED 
(
	[maDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDanhMuc]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhMuc](
	[maDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDanhMuc] PRIMARY KEY CLUSTERED 
(
	[maDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDonHang]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonHang](
	[maDonHang] [int] NOT NULL,
	[maKhachHang] [int] NULL,
	[soDienThoai] [nvarchar](50) NULL,
	[diaChi] [nvarchar](max) NULL,
	[trangThai] [int] NULL,
	[tongTien] [int] NULL,
	[ngayTao] [date] NULL,
 CONSTRAINT [PK_tblDonHang] PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[maKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[hoVaTen] [nvarchar](50) NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NULL,
	[soDienThoai] [nvarchar](50) NULL,
	[diaChi] [nvarchar](max) NULL,
	[capBac] [int] NULL,
 CONSTRAINT [PK_tblKhachHang_1] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 04/01/2019 9:31:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[maSanPham] [int] IDENTITY(1,1) NOT NULL,
	[tenSanPham] [nvarchar](50) NULL,
	[maDanhMuc] [int] NULL,
	[giaSanPham] [int] NULL,
	[linkSanPham] [nvarchar](max) NULL,
	[giaNhap] [int] NULL,
 CONSTRAINT [PK_tblSanPham] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblChiTiet] ON 

INSERT [dbo].[tblChiTiet] ([maChiTiet], [maDonHang], [maSanPham], [soLuong], [thanhTien]) VALUES (2, 42, 302, 11, 220000)
INSERT [dbo].[tblChiTiet] ([maChiTiet], [maDonHang], [maSanPham], [soLuong], [thanhTien]) VALUES (3, 91, 94, 13, 5200000)
INSERT [dbo].[tblChiTiet] ([maChiTiet], [maDonHang], [maSanPham], [soLuong], [thanhTien]) VALUES (4, 67, 327, 3, 210000)
GO
SET IDENTITY_INSERT [dbo].[tblChiTiet] OFF
SET IDENTITY_INSERT [dbo].[tblDanhGia] ON 

INSERT [dbo].[tblDanhGia] ([maDanhGia], [maSanPham], [maKhachHang], [diemDanhGia], [binhLuan]) VALUES (1, 38, 90, 2, N'Xấu Tốt Xinh Xinh Tốt')
INSERT [dbo].[tblDanhGia] ([maDanhGia], [maSanPham], [maKhachHang], [diemDanhGia], [binhLuan]) VALUES (4, 42, 54, 4, N'BinhThuong')
INSERT [dbo].[tblDanhGia] ([maDanhGia], [maSanPham], [maKhachHang], [diemDanhGia], [binhLuan]) VALUES (5, 179, 84, 5, N'Tốt Xinh Tốt')
GO
SET IDENTITY_INSERT [dbo].[tblDanhGia] OFF
SET IDENTITY_INSERT [dbo].[tblDanhMuc] ON 

INSERT [dbo].[tblDanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (1, N'Bé Trai')
INSERT [dbo].[tblDanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (2, N'Bé Gái')
INSERT [dbo].[tblDanhMuc] ([maDanhMuc], [tenDanhMuc]) VALUES (3, N'Trẻ Sơ Sinh')
SET IDENTITY_INSERT [dbo].[tblDanhMuc] OFF
INSERT [dbo].[tblDonHang] ([maDonHang], [maKhachHang], [soDienThoai], [diaChi], [trangThai], [tongTien], [ngayTao]) VALUES (2, 32, N'+84930687267', N'Xã Vĩnh Minh - Huyện Vĩnh Lộc - Tỉnh Thanh Hóa', 0, 16800000, CAST(0xEE3E0B00 AS Date))
INSERT [dbo].[tblDonHang] ([maDonHang], [maKhachHang], [soDienThoai], [diaChi], [trangThai], [tongTien], [ngayTao]) VALUES (3, 11, N'0342097883', N'Phường Phú Thủy - Thành phố Phan Thiết - Tỉnh Bình Thuận', 1, 15200000, CAST(0x073E0B00 AS Date))
INSERT [dbo].[tblDonHang] ([maDonHang], [maKhachHang], [soDienThoai], [diaChi], [trangThai], [tongTien], [ngayTao]) VALUES (4, 20, N'0916399319', N'Xã Tam Phúc - Huyện Vĩnh Tường - Tỉnh Vĩnh Phúc', 0, 4100000, CAST(0x633E0B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[tblKhachHang] ON 

INSERT [dbo].[tblKhachHang] ([maKhachHang], [hoVaTen], [tenDangNhap], [matKhau], [soDienThoai], [diaChi], [capBac]) VALUES (1, N'Minh Lý', N'user18', N'123456', N'+84335969081', N'Thị trấn  Bích Động - Huyện Việt Yên - Tỉnh Bắc Giang', 0)
INSERT [dbo].[tblKhachHang] ([maKhachHang], [hoVaTen], [tenDangNhap], [matKhau], [soDienThoai], [diaChi], [capBac]) VALUES (2, N'Quang Triệu', N'user08', N'123456', N'+84930687267', N'Xã Vĩnh Minh - Huyện Vĩnh Lộc - Tỉnh Thanh Hóa', 0)
INSERT [dbo].[tblKhachHang] ([maKhachHang], [hoVaTen], [tenDangNhap], [matKhau], [soDienThoai], [diaChi], [capBac]) VALUES (4, N'Diễm My', N'user65', N'123456', N'0916399319', N'Xã Tam Phúc - Huyện Vĩnh Tường - Tỉnh Vĩnh Phúc', 0)
GO
SET IDENTITY_INSERT [dbo].[tblKhachHang] OFF
SET IDENTITY_INSERT [dbo].[tblSanPham] ON 

INSERT [dbo].[tblSanPham] ([maSanPham], [tenSanPham], [maDanhMuc], [giaSanPham], [linkSanPham], [giaNhap]) VALUES (1, N'Áo tím than', 1, 100000, N'./img/sp/betrai (21).jpg', 10000)
INSERT [dbo].[tblSanPham] ([maSanPham], [tenSanPham], [maDanhMuc], [giaSanPham], [linkSanPham], [giaNhap]) VALUES (3, N'Áo ấm đỏ', 1, 300000, N'./img/sp/betrai/betrai (52).jpg', 240000)
INSERT [dbo].[tblSanPham] ([maSanPham], [tenSanPham], [maDanhMuc], [giaSanPham], [linkSanPham], [giaNhap]) VALUES (4, N'BlueViolet', 1, 400000, N'./img/sp/betrai/betrai (36).jpg', 320000)
GO
SET IDENTITY_INSERT [dbo].[tblSanPham] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tblKhachHang]    Script Date: 04/01/2019 9:31:41 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblKhachHang] ON [dbo].[tblKhachHang]
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTiet_tblDonHang] FOREIGN KEY([maDonHang])
REFERENCES [dbo].[tblDonHang] ([maDonHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTiet] CHECK CONSTRAINT [FK_tblChiTiet_tblDonHang]
GO
ALTER TABLE [dbo].[tblChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTiet_tblSanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[tblSanPham] ([maSanPham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTiet] CHECK CONSTRAINT [FK_tblChiTiet_tblSanPham]
GO
ALTER TABLE [dbo].[tblDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tblDanhGia_tblKhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[tblKhachHang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDanhGia] CHECK CONSTRAINT [FK_tblDanhGia_tblKhachHang]
GO
ALTER TABLE [dbo].[tblDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tblDanhGia_tblSanPham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[tblSanPham] ([maSanPham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDanhGia] CHECK CONSTRAINT [FK_tblDanhGia_tblSanPham]
GO
ALTER TABLE [dbo].[tblDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tblDonHang_tblKhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[tblKhachHang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDonHang] CHECK CONSTRAINT [FK_tblDonHang_tblKhachHang]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPham_tblDanhMuc] FOREIGN KEY([maDanhMuc])
REFERENCES [dbo].[tblDanhMuc] ([maDanhMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_tblSanPham_tblDanhMuc]
GO
USE [master]
GO
